{% extends "admin/base.jinja" %}
{% block content %}
<h1 class="mt-5">Добавить новый домен</h1>
<div class="section">
    <form method="post" class="mt-5">
        <div class="form-group mb-4">
            <label for="domainName">Домен</label>
            <input type="text" class="form-control" id="domainName" name="domain" value="" placeholder="example.com">
        </div>
        <div class="form-group mb-4">
            Установите DNS-записи для этого домена на CDN (например, Cloudflare), <br />
            Установите его так, чтобы он указывал на <strong>{{ server_ip }}</strong>, <br />
            Убедитесь, что режим шифрования SSL/TLS включен полностью (<a href="https://raw.githubusercontent.com/VZiChoushaDui/Libertea/master/docs/cloudflare-full-ssl.png" target="_blank">help</a>),<br />
            и CDN включена (оранжевый значок облака в Cloudflare).
        </div>
        <input type="hidden" name="next" value="" />

        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
</div>

<script>
    var domain = new URLSearchParams(window.location.search).get('domain');
    if (domain) {
        document.getElementById('domainName').value = domain;
    }

    var next = new URLSearchParams(window.location.search).get('next');
    if (next) {
        document.querySelector('input[name="next"]').value = next;
    }
</script>

{% endblock %}
