{% extends "admin/base.jinja" %}
{% block content %}

<div class="route-section-text mt-4">
    <div class="mb-2">
        Вторичные прокси позволяют пользователям подключаться к вашему VPN по прямым IP-маршрутам, минуя CDN для 
        более надежного соединения в тех случаях, когда провайдеры блокируют CDN.
    </div>
    <div class="mb-2" style="opacity: 0.75">
        IP-адреса вторичных прокси-серверов могут быть заблокированы через несколько месяцев, и в этом случае вы можете просто удалить
        старый вторичный прокси-сервер и добавить новый, не нарушая работу вашего сервиса и основного сервера.
    </div>
</div>

<div class="w-100 mt-4 px-3">
    <a class="btn btn-primary add-proxy-button float-start float-sm-end" href="#">
        Добавить новый вторичный прокси-сервер
    </a>
</div>
<div style="clear: both"></div>
<div class="add-proxy-instructions my-4 mx-3 px-3 py-4" style="border: 1px solid #aaa; border-radius: 16px; display: none;">
    Чтобы добавить вторичный прокси в VPN, купите новый сервер, скопируйте и вставьте следующую команду в оболочку SSH:<br /><br />
    <code id="codeToCopy"></code>
    <br />
    <br />
    <button class="btn btn-outline-primary btn-copy">
        Скопируйте код в буфер обмена
    </button>
</div>

<script>
    function copyCode() {
        var codeToCopy = document.querySelector("#codeToCopy").innerText;
        navigator.clipboard.writeText(codeToCopy);

        document.querySelector(".btn-copy").innerText = "Copied!";
        setTimeout(function() {
            document.querySelector(".btn-copy").innerText = "Copy code to clipboard";
        }, 2000);
    }

    document.querySelector("#codeToCopy").addEventListener("click", function() {
        copyCode();

        // select the whole code
        var range = document.createRange();
        range.selectNode(document.querySelector("#codeToCopy"));
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(range);
    });

    document.querySelector(".add-proxy-button").addEventListener("click", function() {
        document.querySelector(".add-proxy-instructions").style.display = "block";
        document.querySelector(".add-proxy-button").style.display = "none";
    });

    document.querySelector(".btn-copy").addEventListener("click", function() {
        copyCode();
    });

    var goToNew = new URLSearchParams(window.location.search).get('new');
    if (goToNew) {
        document.querySelector(".add-proxy-instructions").style.display = "block";
        document.querySelector(".add-proxy-button").style.display = "none";
    }
</script>

<div class="list-group list-group-flush mt-2">
    {% for proxy in proxies %}
        <a href="#" class="list-group-item list-group-item-action">
            <div class="row">
                <div class="col-12 list-item-title">
                    {{ proxy.ip }}
                </div>
                <div class="col-12 list-item-subtitle">
                    🟢 Онлайн
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}
