{% extends "admin/base.jinja" %}
{% block content %}

<style>
    .security-card {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 30px;
        margin-bottom: 30px;
        background: #f7f7f7;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .security-card h5 {
        margin-bottom: 20px;
    }

    .main-content {
        padding: 10px 20px;
    }
</style>

{% if health_warnings.no_camouflage.status %}
<div class="section security-card">
    <h5><i class="fa-solid fa-circle-exclamation warning-icon"></i> Сайт для маскировки</h5>
    <p>В ваших доменах будет отображаться содержимое маскируемого сайта, так что он будет выглядеть как обычный сайт, и шанс быть заблокированным будет гораздо ниже.</p>
    <a href="/{{ admin_uuid }}/welcome/camouflage/?next_page=security">Создайте сайт для маскировки</a>
</div>
{% endif %}

{% if health_warnings.update_available.status %}
<div class="section security-card">
    <h5>Обновление доступно</h5>
    <p>Вышла новая версия On The Other Side.</p>
    <a href="https://github.com/VZiChoushaDui/Libertea#update" target="_blank">Обновить сейчас</a>
</div>
{% endif %}

{% if health_warnings.proxy_update_available.status %}
<div class="section security-card">
    <h5>Доступно обновление прокси-сервера</h5>
    <p>Необходимо обновить один или несколько вторичных прокси-серверов.</p>
    <a href="/{{ admin_uuid }}/domains/">Дополнительная информация</a>
</div>
{% endif %}

{% if health_warnings.no_direct_country.status %}
<div class="section security-card">
    <h5>Прямой маршрут для вашей страны</h5>
    <p>Вы не настроили свою страну в панели. Настроив страну это позволит вам быстрее получать доступ к отечественным сайтам, а также снизит вероятность их блокировки.</p>
    <a href="/{{ admin_uuid }}/welcome/country/?next_page=security">Настройте свою страну</a>
</div>
{% endif %}

{% if health_warnings.same_domain_for_panel_and_vpn.status %}
<div class="section security-card">
    <h5>Один и тот же домен для панели и VPN</h5>
    <p>Вы установили один и тот же домен <strong>{{ panel_domain }}</strong> для панелей и VPN. Это не рекомендуется, поскольку в случае блокировки ваши клиенты не смогут получать обновления для новых маршрутов.</p>
    <p>Мы рекомендуем использовать отдельные домены для панели и VPN.</p>
    <a href="/{{ admin_uuid }}/domains/">Change your domains</a>
</div>
{% endif %}

{% if health_warnings.no_secondary_route.status %}
<div class="section security-card">
    <h5>Вторичные прокси-серверы</h5>
    <p>Рассмотрите возможность добавления <strong>вторичного прокси</strong> для лучшей доступности в различных сетях.</p>
    <a href="/{{ admin_uuid }}/proxies/new/">Add a secondary proxy</a>
</div>
{% endif %}

{% if health_warnings.secondary_route_without_domain.status %}
<div class="section security-card">
    <h5>Домены для вторичных прокси-серверов</h5>
    <p>Некоторые из ваших вторичных прокси не имеют подключенного домена. Рекомендуется подключить домен или поддомен к каждому из ваших вторичных прокси.</p>
    <a href="/{{ admin_uuid }}/domains/">Go to Routes</a>
</div>
{% endif %}

{% if no_warnings %}
<div class="section mt-5 text-center">
    <p>На вашем сервере On The Other Side все выглядит хорошо. 🎉</p>
    <a href="/{{ admin_uuid }}/dashboard/">Назад к панели управления</a>
</div>
{% endif %}

{% endblock %}
