{% extends "admin/welcome/base.jinja" %}
{% block content %}

<div class="text-start mt-3">
    <img src="https://raw.githubusercontent.com/drknvpn/ontheotherside/master/docs/logo.png" class="libertea-top-logo" />
    <p class="mt-4 mb-0">
        <strong>И еще одно: выберите для своей панели сайт, под который она будет маскироваться.</strong>
    </p>
    <p class="mt-4 mb-0">
        На главной странице ваших доменов будет отображаться содержимое выбранного вами здесь сайта. Это затруднит блокировку ваших доменов.
    </p>
    <form method="post" class="mt-3">
        <label for="camouflage_domain" class="fw-bold">Сайт маскировки</label>
        <input type="text" class="form-control" id="camouflage_domain" name="camouflage_domain" value="{{ camouflage_domain }}" style="max-width: 400px;" placeholder="https://">

        {% if camouflage_error != None %}
            {% if camouflage_error == "camouflage_domain_not_https" %}
            <small class="form-text text-danger fw-bold">Сайт должен начинаться с https://</small>
            {% elif camouflage_error == "camouflage_domain_not_http_https" %}
            <small class="form-text text-danger fw-bold">Сайт должен начинаться с http:// или https://</small>
            {% elif camouflage_error == "camouflage_domain_not_reachable" %}
            <small class="form-text text-danger fw-bold">Сайт недоступен. Пожалуйста, проверьте доменное имя или используйте другое.</small>
            {% elif camouflage_error == "camouflage_domain_not_supported" %}
            <small class="form-text text-danger fw-bold">Этот сайт не поддерживается. Пожалуйста, выберите другой.</small>
            {% else %}
            <small class="form-text text-danger fw-bold">{{ camouflage_error }}</small>
            {% endif %}
        {% endif %}

        
        <p class="mt-3">
            Выберите веб-сайт с продуманным камуфляжем, например новостной сайт или блог.
        </p>

        <p class="mt-4" style="opacity: 0.7">
            Вы можете изменить это позже в <strong>Настройках</strong> в меню панели.
        </p>
        
        {% if next_page == "security" %}
            <input type="submit" class="btn btn-primary mt-5" value="Save" />
        {% else %}
            <a href="/{{ admin_uuid }}/welcome/country/" class="btn btn-outline-primary mt-5">Назад</a>
            <input type="submit" class="btn btn-primary mt-5" value="Next" />
        {% endif %}
    </form>
</div>
{% endblock %}
