{% extends "admin/welcome/base.jinja" %}
{% block content %}

<div class="text-start mt-3">
    <img src="https://raw.githubusercontent.com/drknvpn/ontheotherside/master/docs/logo.png" class="libertea-top-logo" />
    <p class="mt-4" style="font-weight: 700">
        Теперь панель готова к использованию.
    </p>
    <p class="mt-2">
        Теперь вы можете подключиться к VPN On The Other Side и пользоваться Интернетом без цензуры.
    </p>
    <br />
    <br />
    <br />
    <br />
    
    <a href="/{{ admin_uuid }}/" class="btn btn-primary mt-5">Готово</a>
</div>
{% endblock %}
