{% extends "admin/welcome/base.jinja" %}
{% block content %}

<div class="text-start mt-3">
    <img src="https://raw.githubusercontent.com/drknvpn/ontheotherside/master/docs/logo.png" class="libertea-top-logo" />
    <p class="mt-4 mb-0">
        Позже, вы сможете добавить ещё <strong>несколько доменов</strong> в свою панель чтобы усложнить блокировку.
    </p>
    <p class="mt-2">
        В качестве альтернативы, вы можете добавить  <strong>дополнительные серверы</strong> чтобы через них подключаться к vpn. 
    </p>
    <p class="mt-4" style="opacity: 0.7">
        Вы сможете управлять всем этим в пункте <strong>Маршруты</strong> в верхнем меню панели on the other side.
    </p>
    
    <br />
    <br />

    <a href="/{{ admin_uuid }}/welcome/routes/" class="btn btn-outline-primary mt-3">Назад</a>
    <a href="/{{ admin_uuid }}/welcome/country/" class="btn btn-primary mt-3">Вперёд</a>
</div>
{% endblock %}
