{% extends "admin/welcome/base.jinja" %}
{% block content %}

<div class="text-start mt-3">
    <img src="https://raw.githubusercontent.com/drknvpn/ontheotherside/master/docs/logo.png" class="libertea-top-logo" />
    <p class="mt-4">
        Вы настроили <span style="font-weight: 700;">{{ panel_domain }}</span> в качестве основного домена.
    </p>
    <p class="mt-2">Чтобы упростить процесс, вы можете использовать тот же домен и для подключения к VPN.</p>
    <p class="mt-2">Вы также можете использовать другой домен для подключения VPN, а этот оставить для получения обновлений для вашего VPN, на случай если этот домен будет заблокирован.</p>

    <a href="/{{ admin_uuid }}/welcome/routes/default/" class="btn btn-primary mt-5">Use {{ panel_domain }}</a>
    <a href="/{{ admin_uuid }}/welcome/routes/custom/" class="btn btn-outline-primary mt-5">Установить другой домен</a>
</div>
{% endblock %}
